<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="user$ | async as user; else login">
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" (click)="cerrarSesion()">logout</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"> {{ user?.email }}</a>
          </li>
        </ul>

      <ng-template #login>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="router-link-active" >Registro</a>
          </li>
        </ul>
      </ng-template>

    </div>
  </div>
</nav> -->


<!--  -->
<div class="contenedor-background">

<div class="dropdown" *ngIf="user$ | async as user">

  <button type="button" class="btn btn-regresar" (click)="regresar()"><i class="fas fa-long-arrow-alt-left"></i></button>


  <button class="btn dropdown-toggle" class="setting" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="../../../assets/img/settings.png" class="img-setting" alt="">
  </button>
  <!-- <button class="btn dropdown-toggle" class="setting2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="../../../assets/img/settings.png" class="img-setting" alt="">
  </button> -->
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li *ngIf="user"><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a></li>
    <li>
      <a class="dropdown-item">
        <img style="border-radius: 100%;" *ngIf="user.photoURL" src="{{user.photoURL}}" alt=""
              width="30"
              height="30"
              >
        {{ user?.email }}
      </a>
      </li>
  </ul>
</div>
</div>




