<h1>
    CAMBIOS DE DANIEL CARREÑO
</h1>

<div class="contenedor-background d-flex justify-content-center align-items-center">

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-4 p-sm-5">
                <div class="content-logotipo">
                    <img src="../../../assets/img/logotipo.png" class="logotipo" alt="logotipo" title="logotipo">
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                    <div class="form-floating contenedor-input mb-3 ">
                        <input type="email" name="email" class="form-control input-email" placeholder="Correo electronico" formControlName="email" [class.is-invalid]="emailInvalido">
                        <label for="floatingInput">Correo electronico</label>
                        <i class="far fa-envelope" aria-hidden="true"></i>
                    </div>

                    <div class="form-floating contenedor-input mb-3">

                        <!-- <input type="password" class="form-control" name="password" id="inputPassword" [type]="show ? 'text' : 'password'" placeholder="Contraseña"> -->
                        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Contraseña" formControlName="password" [class.is-invalid]="passwordInvalido" maxlength="8">
                        <label for="floatingPassword">Contraseña</label>
                        <i class="fas fa-eye-slash icon-password" aria-hidden="true" (click)="mostrarPassword()"></i>
                    </div>


                    <small *ngIf="emailInvalido || passwordInvalido" class="text-danger text-validacion">Falta ingresar datos o uno de los campos es incorrecto</small>

                    <div class="d-grid mb-3">
                        <button type="submit" id="liveAlertBtn" class="btn btn-ingresar" [disabled]="!loginForm.valid">
                  Ingresar
                </button>
                    </div>

                    <hr class="my-4">

                </form>

                <!-- LOGIN CON GOOGLE Y FACEBOOK -->
                <div class="d-grid mb-2">
                    <button class="btn btn-google" type="submit" (click)="loginGoogle()">
                <i class="fab fa-google me-2 icon-google" ></i> Ingresar con Google
              </button>
                </div>

                <br>
                <div class="d-grid">
                    <button class="btn btn-google btn-facebook" type="submit" (click)="loginFacebook()">
                <i class="fab fa-facebook-f me-2"></i> Ingresar con Facebook
              </button>
                </div>

                <div class="content-info-registrarme">
                    <p class="info-registrarme">¿Aún no tienes cuenta?</p>
                    <a class="btn-registrarme" [routerLink]="['/registro']" routerLinkActive="router-link-active">
                Registrarme
              </a>
                </div>

                <div class="form-group mt-3">
                    <p>
                        <a [routerLink]="['/recuperar-password']" class="password-reset" routerLinkActive="router-link-active">¿Has olvidado tu contraseña?</a>
                    </p>
                </div>

            </div>
        </div>
    </div>